@model List<ServiceGetVM>
<div class="container">
	<div class="row">
        <div class="row">
            <a asp-action="Create" asp-controller="Service" class="btn btn-success">Create</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">CategoryName</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var service in Model)
                {
                    <tr>
                        <th scope="row">@service.Id</th>
                        <td>@service.Title</td>
                        <td>@service.Description</td>
                        <td>@service.CategoryName</td>
                        <td><img src="~/img/@service.ImagePath"  /></td>
                        <td>
                            <a asp-action="Update" asp-controller="Service" asp-route-id="@service.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-controller="Service" asp-route-id="@service.Id" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                    
                }
               

            </tbody>
        </table>
	</div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}